@use '../../shared/scss/variables';

.ph-auth-callback-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/avatar_grid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
    filter: blur(2px);
  }
}

.ph-auth-callback-card {
  background: rgba(variables.$buttons-dark-1, 0.96);
  border: 1px solid variables.$divider-1;
  box-shadow: variables.$modal-shadow;
  border-radius: 16px;
  width: 100%;
  max-width: 360px;
  overflow: hidden;
  padding: 24px;
}


.ph-auth-callback__header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: variables.$white;
  margin-bottom: 10px;
}

.ph-error-message {
  color: variables.$field-red-1;
  font-size: 14px;
  padding: 8px 12px;
  background: variables.$bg-black-1;
  height: 40px;
  border-radius: 12px;
  text-align: center;
}

.ph-auth-callback-spinner {
  fill: variables.$text-gray-2;
  display: flex;
  justify-content: center;
}