@use '../../shared/scss/variables';
@use '../../shared/scss/background-container' as bc;

.ph-auth-callback-container {
  @include bc.background-container();
}

.ph-auth-callback-card {
  background: rgba(variables.$buttons-dark-1, 0.96);
  border: 1px solid variables.$divider-1;
  box-shadow: variables.$modal-shadow;
  border-radius: 16px;
  width: 100%;
  max-width: 360px;
  overflow: hidden;
  padding: 24px;
}


.ph-auth-callback__header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: variables.$white;
  margin-bottom: 10px;
}

.ph-error-message {
  color: variables.$field-red-1;
  font-size: 14px;
  padding: 8px 12px;
  background: variables.$bg-black-1;
  height: 40px;
  border-radius: 12px;
  text-align: center;
}

.ph-auth-callback-spinner {
  fill: variables.$text-gray-2;
  display: flex;
  justify-content: center;
}