:host {
  display: flex;
  gap: 50px;
}

.ph-create-hero__detail-types {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.ph-create-hero__active-type {
  text-decoration: underline;
}

.ph-create-hero__details {
  display: flex;
  gap: 10px;
  width: 500px;
  max-height: 240px;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.ph-create-hero__detail {
  position: relative;
  width: 60px;
  height: 60px;
  background: #D9EBED;
  border: 1px solid gainsboro;
}

.ph-create-hero__active-detail {
  border: 1px solid orangered;
}

.ph-create-hero__detail-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
  pointer-events: none;
}