.ph-chart-editor-actions__simple-answer-view {
  display: flex;
  color: white;
  gap: 5px;
  font-weight: 600;
  font-size: 12px;
}

.ph-chart-editor-actions__simple-answer-square {
  width: 14px;
  height: 14px;
  border-radius: 15%;
}

.ph-chart-editor-actions__view-mode {
  padding: 0 0 16px 0;
  display: flex;
  justify-content: space-between;
}

.ph-chart-editor-actions__edit-mode {
  display: flex;
  flex-direction: column;
  gap: 20px;
}